**/__pycache__/

Figure/*
!Figure/.gitkeep

Saved_Models/*
!Saved_Models/.gitkeep

Saved_Training_Data/*
!Saved_Training_Data/.gitkeep

Saved_Testing_Data/*
!Saved_Testing_Data/.gitkeep

.DS_Store

.claude/*